# COGS 118A: Supervised Machine Learning Algorithms
## Data Manipulation of DataFrames

This Jupyter notebook contains starter codes for the coding questions of the assignment. I used this notebook as a starting point to code the answers to the coding questions working with data in a datafram format and manipulating it.

## 5 (20 points) Coding:  Data Manipulation

In [156]:
# Importing Required Packages
import numpy as np
import pandas as pd
from sklearn import datasets

In [157]:
# Loading the dataset
iris = datasets.load_iris()

In [158]:
# Creating a Pandas dataframe that contains the dataset
# Using no.c_ to concatenate the features and lables into one array
iris_df = pd.DataFrame(data = np.c_[iris.data, iris.target],
                       columns = iris['feature_names'] + ['target'])

In [159]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [160]:
#MY CODE#

#Creating the five subsets of data points
#slicing the dataframe by rows and columns to disregard target

group1 = iris_df[:30]
group2 = iris_df[30:60]
group3 = iris_df[60:90]
group4 = iris_df[90:120]
group5 = iris_df[120:150]


#getting the mean of each feature vector in each group
#slicing the subset groups into 4 columns, not including the target

group1_mean = group1.iloc[:, :4].mean()
group2_mean = group2.iloc[:, :4].mean()
group3_mean = group3.iloc[:, :4].mean()
group4_mean = group4.iloc[:, :4].mean()
group5_mean = group5.iloc[:, :4].mean()

print('Group 1 Feature Means:\n\n', group1_mean.to_string())
print('\nShape', group1_mean.shape)
print('\nGroup 2 Feature Means:\n\n', group2_mean.to_string())
print('\nShape', group2_mean.shape)
print('\nGroup 3 Feature Means:\n\n', group3_mean.to_string())
print('\nShape', group3_mean.shape)
print('\nGroup 4 Feature Means:\n\n', group4_mean.to_string())
print('\nShape', group4_mean.shape)
print('\nGroup 5 Feature Means:\n\n', group5_mean.to_string())
print('\nShape', group5_mean.shape)

Group 1 Feature Means:

 sepal length (cm)    5.026667
sepal width (cm)     3.450000
petal length (cm)    1.473333
petal width (cm)     0.246667

Shape (4,)

Group 2 Feature Means:

 sepal length (cm)    5.350000
sepal width (cm)     3.220000
petal length (cm)    2.420000
petal width (cm)     0.623333

Shape (4,)

Group 3 Feature Means:

 sepal length (cm)    5.98
sepal width (cm)     2.75
petal length (cm)    4.30
petal width (cm)     1.34

Shape (4,)

Group 4 Feature Means:

 sepal length (cm)    6.253333
sepal width (cm)     2.856667
petal length (cm)    5.113333
petal width (cm)     1.773333

Shape (4,)

Group 5 Feature Means:

 sepal length (cm)    6.606667
sepal width (cm)     3.010000
petal length (cm)    5.483333
petal width (cm)     2.013333

Shape (4,)

In [161]:
#Dropping the 2nd and 3rd features to create iris_df_new

iris_df_new=iris_df.drop(iris_df.iloc[:, 1:3],axis=1)

print('Iris dataframe with 2nd & 3rd feature removed\n\n', iris_df_new)

newdf_mean = iris_df_new.iloc[:, :2].mean()

print('\n\nThe mean of the features: \n', newdf_mean.to_string())
print('\nShape', newdf_mean.shape)

Iris dataframe with 2nd & 3rd feature removed

      sepal length (cm)  petal width (cm)  target
0                  5.1               0.2     0.0
1                  4.9               0.2     0.0
2                  4.7               0.2     0.0
3                  4.6               0.2     0.0
4                  5.0               0.2     0.0
..                 ...               ...     ...
145                6.7               2.3     2.0
146                6.3               1.9     2.0
147                6.5               2.0     2.0
148                6.2               2.3     2.0
149                5.9               1.8     2.0

[150 rows x 3 columns]


The mean of the features:
 sepal length (cm)    5.843333
petal width (cm)     1.199333

Shape (2,)

In [170]:
#Dropping the last 10 data points

iris_df_new1 = iris_df.drop(iris_df.index[140:150])

print('Iris dataframe with last 10 datapoints removed\n\n', iris_df_new1)

newdf_mean1 = iris_df_new1.iloc[:, :4].mean()

print('\n\nThe mean of the features: \n', newdf_mean1.to_string())
print('\nShape', newdf_mean1.shape)

Iris dataframe with last 10 datapoints removed

      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1

     target
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
..      ...
135     2.0
136     2.0
137     2.0
138     2.0
139     2.0

[140 rows x 5 columns]


The mean of the features:
 sepal length (cm)    5.800000
sepal width (cm)     3.059286
petal length (cm)    3.645714
petal width (cm)     1.130000

Shape (4,)